
  <div class="header-wrapper container "> <!--ADD class scroll -->
    <div class="logo ">
      <img class="logo__img" src="/images/Logo.svg" alt="logo">
    </div>
    <nav class="main-nav" role="navigation">
      <ul class="navigation__menu menu primary">
        <!--<li class="menu__item">-->
          <!--<a href="#" class="menu__link none tooltip">-->
            <!--<span id="trash" class="menu__icon icon-add" data-quantity=""></span>-->
          <!--</a>-->
        <!--</li>-->
        <li class="menu__item">
          <a href="#" class="menu__link none tooltip">
            <span id="trash" class="menu__icon icon-trash" data-quantity=""></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" data-link="task-list">
            <span class="menu__icon icon-list"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link tooltip" data-link="reports" data-hint="Go to Reports">
            <span class="menu__icon icon-statistics"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link menu__link--active" data-link="settings">
            <span class="menu__icon icon-settings"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
