<section class="settings">
  <div class="settings-wrapper container">
    <h2 class="settings-wrapper__title title title--main">
      Settings
    </h2>

    <div class="pomodoros pomodoros--wrapper  ">
      <h3 class="pomodoros__title title title--subtitle">
        Categories list overview
      </h3>

      <div class="pomodoros--wrapper__item settings-group">
        <ul class="settings-group__list tab-list">
          <li class="tab-list__item" id="pomodoros">Pomodoros</li>
          <li class="tab-list__item tab-list__item--active">Categories</li>
        </ul>

        <ul class="categories-list">
          <li class="categories-list__item  ">
            <span class="categories-list__category categories-list__category--work"></span>
            <span class="categories-list__text">Work</span>
          </li>
          <li class="categories-list__item">
            <span class="categories-list__category categories-list__category--education"></span>
            <span class="categories-list__text">Education</span>
          </li>
          <li class="categories-list__item">
            <span class="categories-list__category categories-list__category--hobby"></span>
            <span class="categories-list__text">Hobby</span>
          </li>
          <li class="categories-list__item">
            <span class="categories-list__category categories-list__category--sport"></span>
            <span class="categories-list__text">Sport</span>
          </li>
          <li class="categories-list__item">
            <span class="categories-list__category categories-list__category--other"></span>
            <span class="categories-list__text">Other</span>
          </li>
        </ul>

        <div class="button-wrapper">
          <button class="btn btn--tasks btn--blue btn--blue_small">Go to Tasks</button>
        </div>
      </div>
    </div>
  </div>
</section>
