<!--AddED FIRST TASK -->
<section class="tasks container">
  <h2 class="tasks__title title title--main">Daily Task List <span class="tasks__title--icon icon-add"></span></h2>

  <div class="tasks ">
  <div class="task-first ">
    <div class="task-first__icon">
      <img src="/images/tomato-add.svg" alt="Add task" class="tasks-first__img">
    </div>
    <div class="task-first__wrapper messages">
      <p class="messages__text--added">
        Add your first task
      </p>
    </div>
  </div>
  </div>
</section>
