<section class="tasks container">
<h2 class="tasks__title title title--main">Daily Task List <span class="tasks__title--icon icon-add"></span></h2>

<!--FIRST VISIT-->
<div class="task-first ">
  <div class="task-first__icon">
    <img src="/images/tomato_settings.svg" alt="Add task" class="tasks-first__img">
  </div>
  <div class="task-first__wrapper messages">
    <p class="messages__text--added">
      As you visited our site for a first time you can check <br>
      and customize your default application settings
    </p>
  </div>
  <div class="buttons">
    <button class="btn btn--blue btn--big ">Skip</button>
    <button class="btn btn--green btn--small">Go to Timer</button>
  </div>
</div>
</section>
