<!--MODAL ADD-->
<div class="modal-overlay ">
  <div class="modal">
    <div class="modal__buttons button-control">
      {{#if this}}<button class="button-control__icon button-control__icon--trash icon-trash"></button>{{/if}}
      <button class="button-control__icon button-control__icon--close icon-close"></button>
      <button class="button-control__icon button-control__icon--check icon-check"></button>
    </div>
    <h2 class="modal__title">{{#if this}} Edit Task{{/if}} {{#unless this}}Add Task{{/unless}}</h2>

    <!--<p class="modal__question">Are you sure you want to remove selected task(s)?</p>-->
    <form {{#if this}}data-id="{{id}}"{{/if}} class="edit-task" id="addItem" action="#" method="post">
      <div class="edit-task__group">
        <label class="edit-task__label">Title
          <input {{#if this}}value="{{title}}"{{/if}} class="edit-task__input" type="text" id="title" name="title" placeholder="Add title here">
        </label>
      </div>
      <div class="edit-task__group">
        <label class="edit-task__label">Description
          <input class="edit-task__input" type="text" id="description" {{#if this}}value="{{description}}"{{/if}} name="description" placeholder="Add description here">
        </label>
      </div>

      <div class="edit-task__group group">
        <div class="group-category">
          <input class="group-category__input category" type="radio" id="work-add" value="work" name="radio-group" checked>
          <label class="group-category__label group-category__label--work" for="work-add">Work</label>
        </div>
        <div class="group-category">
          <input class="group-category__input category" type="radio" id="education-add" value="education" name="radio-group">
          <label class="group-category__label group-category__label--education"
                 for="education-add">Education</label>
        </div>
        <div class="group-category">
          <input class="group-category__input category" type="radio" id="hobby-add" value="hobby" name="radio-group">
          <label class="group-category__label group-category__label--hobby" for="hobby-add">Hobby</label>
        </div>
        <div class="group-category">
          <input class="group-category__input category" type="radio" id="sport-add" value="sport" name="radio-group">
          <label class="group-category__label group-category__label--sport" for="sport-add">Sport</label>
        </div>
        <div class="group-category">
          <input class="group-category__input category" type="radio" id="other-add"  value="other" name="radio-group">
          <label class="group-category__label group-category__label--other" for="other-add">Other</label>
        </div>
      </div>
      <div class="edit-task__group">
        <label class="edit-task__label">DEADLINE
          <input class="edit-task__input" type="date" id="deadline" name="date" value="2019-02-22">
        </label>
      </div>

      <div class="edit-task__group">
        <span class="edit-task__label">ESTIMATION</span>
        <ul class="complexity">
          <li class="complexity__item complexity__item--done complexity__item--done_active " data-estimation="0">
            <img src="/images/empty-tomato.svg" class="complexity__icon" alt="tomato">
          </li>
          <li class="complexity__item complexity__item--done " data-estimation="1">
            <img src="/images/empty-tomato.svg" class="complexity__icon" alt="tomato">
          </li>
          <li class="complexity__item complexity__item--done " data-estimation="2">
            <img src="/images/empty-tomato.svg" class="complexity__icon" alt="tomato">
          </li>
          <li class="complexity__item complexity__item--done " data-estimation="3">
            <img src="/images/empty-tomato.svg" class="complexity__icon" alt="tomato">
          </li>
          <li class="complexity__item complexity__item--done " data-estimation="4">
            <img src="/images/empty-tomato.svg" class="complexity__icon" alt="tomato">
          </li>
        </ul>
      </div>

      <div class="edit-task__group group">
        <div class="group-category">
          <input class="group-category__input priority" type="radio" value="3" id="urgent-add" name="category" checked>
          <label class="group-category__label group-category__label--urgent" for="urgent-add">Urgent</label>
        </div>
        <div class="group-category">
          <input class="group-category__input priority" type="radio" value="2" id="hight-add" name="category">
          <label class="group-category__label group-category__label--hight" for="hight-add">High</label>
        </div>
        <div class="group-category">
          <input class="group-category__input priority" type="radio" value="1" id="middle-add" name="category">
          <label class="group-category__label group-category__label--middle" for="middle-add">Middle</label>
        </div>
        <div class="group-category">
          <input class="group-category__input priority" type="radio" value="0" id="low-add" name="category">
          <label class="group-category__label group-category__label--low" for="low-add">Low</label>
        </div>
      </div>
    </form>
  </div>
</div>
