<!--NOTIFICATION MESSAGES-->
<div class="notification-wrapper none">
  <!--SUCCESSES MESSAGE-->
  <div class="notification notification--successes ">
    <div class="notification__status icon-tomato-success"></div>
    <p class="notification__text">Task was successfully created!</p>
    <button class="notification__button icon-close"></button>
  </div>
  <!--INFO MESSAGE-->
  <div class="notification notification--info ">
    <div class="notification__status icon-tomato-info"></div>
    <p class="notification__text">This is just an info notification message!</p>
    <button class="notification__button icon-close"></button>
  </div>
  <!--WARNING MESSAGE-->
  <div class="notification notification--warning ">
    <div class="notification__status icon-tomato-error"></div>
    <p class="notification__text">This is just a warning notification message!</p>
    <button class="notification__button icon-close"></button>
  </div>
  <!--ERROR MESSAGE-->
  <div class="notification notification--error ">
    <div class="notification__status icon-tomato-error"></div>
    <p class="notification__text">Ups! An error has occured! </p>
    <button class="notification__button icon-close"></button>
  </div>
</div>
</div>
